{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}

<main class="searchpage">
    <div class="banner">
        <img
            src="{% static './assets/images/bg-banner.png' %}"
            alt=""
            class="img-fluid w-100"
        />
        <h1 class="text-center">Search Result</h1>
    </div>

    <section class="searchbox container mt-5 p-3 bg-accent">
        <form method="GET" action="{% url 'search' %}">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <select
                        name="searched_city"
                        id="inputState"
                        class="form-control"
                    >
                        <option selected disabled hidden>City</option>
                        {% for city in distinct_cities %}
                        <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select
                        name="searched_camera_type"
                        id="inputState"
                        class="form-control"
                    >
                        <option selected disabled hidden>Camera Type</option>
                        {% for camera_type in distinct_cameras %}
                        <option value="{{camera_type}}">{{camera_type}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select
                        name="searched_category"
                        id="inputState"
                        class="form-control"
                    >
                        <option selected disabled hidden>Category</option>
                        {% for category in distinct_categories %}
                        <option value="{{category}}">{{category}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-light">Search</button>
            </div>
        </form>
    </section>

    <section class="search-results container mt-3 grid">
        {% for mentor in mentors %}
        <!-- person 1 -->
        <div class="card border-0 text-center">
            <div class="feature-text">
                <a href="{% url 'mentors_detail' mentor.id %}">
                    <img
                        src="{{mentor.photo.url}}"
                        class="card-img-top"
                        alt="team-member"
                    />
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <strong>
                        {{mentor.first_name}} {{mentor.last_name}}
                    </strong>
                </h5>
                <p class="card-text">
                    <strong>{{mentor.category}}</strong>
                </p>
                <div class="person-description mt-2">
                    <button class="btn btn-accent">
                        City : {{mentor.city}}
                    </button>
                    <button class="btn btn-accent">Age : {{mentor.age}}</button>
                    <button class="btn btn-accent">
                        Height : {{mentor.height}}
                    </button>
                </div>
                <div class="person-description mt-2">
                    <button class="btn btn-accent">
                        Crew : {{mentor.crew}}
                    </button>
                    <button class="btn btn-accent">
                        Camera : {{mentor.camera_type}}
                    </button>
                    <button class="btn btn-accent">
                        Students : {{mentor.subs_count}}
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</main>

{% endblock %}
